@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  min-height: 100vh;
  background-image: radial-gradient(circle at center, rgba(156, 77, 204, 0.1) 0%, rgba(106, 27, 154, 0.2) 100%);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  /* Chrome, Safari and Opera */
  .scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hidden {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
  }
}

@view-transition {
  navigation: auto;
}

::view-transition-group(root) {
  animation-duration: 0.2s;
}
